<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    var comA = {
        template: `
            <div id="#app">
                请输入你的firstName<input type="text" v-model="firstName">
                <br>
                请输入你的lastName<input type="text" v-model="lastName">
                <br>
                <h2>你的fullName是{{fullName}}</h2>
            </div>
        `,
        data () {
            return {
                firstName: "",
                lastName: ""
            }
        },
        // watch: {
        //     firstName (val) {
        //         this.fullName = val + this.lastName
        //     },
        //     lastName (val) {
        //         this.fullName = this.firstName + val
        //     }
        // }
        computed: {
            fullName () {
                return this.firstName + this.lastName
            }
        }
    }

    new Vue({
        el: "#app",
        components: {
            "com-a":comA,
        },
        template:"<com-a />"
    })
</script>
</html>